{% extends "layout.html" %}
{% block content %}
    {% if session['username'] %}

        <form method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group">
                <label for="title">Title</label><br>
                <input name="title" class="form-control input-sm" required placeholder="Title"><br>
                <label for="message">Message</label><br>
                <textarea name="message" class="form-control input-sm" required placeholder="Message"></textarea><br>
                <label for="image">Attach an image</label><br>
                <input type="file" name="image" class="btn btn-default"><br>
                <button type="submit" class="btn btn-primary">Add question</button>
            </div>
        </form>
    {% else %}
        <div class="alert alert-danger" role="alert">
            You need to <a href="/login#" class="alert-link">login</a> to see this page!
        </div>
    {% endif %}
{% endblock content %}
