<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='js/askMateUtils.js') }}"></script>


    {% if title %}
        <title>Ask Mate - {{ title }}</title>
    {% else %}
        <title>Ask Mate</title>
    {% endif %}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="/">Ask Mate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/list">List questions</a>
                    <a class="nav-item nav-link" href="/bonus-questions">Bonus Questions</a>
                    <a class="nav-item nav-link" href="/tags">Tags</a>
                    {% if session['username'] %}
                        <a class="nav-item nav-link" href="/users">Users</a>
                    {% endif %}

                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    <button class="btn btn-link btn-sm btn-custom-outline btn-custom-width m-2" id="theme-button"
                            style="margin-left: auto;">
                        <i class="fas fa-moon" id="moon-icon"></i>
                        <i class="fas fa-sun" id="sun-icon" style="display: none;"></i>
                    </button>
                    <form class="form-inline my-2 my-lg-0" action="/search">
                        <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Search"
                               aria-label="Search" name="q">
                        <button class="btn btn-sm btn-custom-outline btn-custom-width mb-1" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                    {% if session['username'] %}
                        <a class="nav-item nav-link">User: {{ session['username'] }}</a>
                        <a class="nav-item nav-link" href="/logout">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="/login">Login</a>
                        <a class="nav-item nav-link" href="/register">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>

<main role="main" class="container">

    {% block content %}{% endblock %}

</main>

<footer class="footer mt-auto py-3 bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span class="text-light">© 2023 Ask Mate Team</span>
            </div>
            <div class="col-sm">
                <span class="text-light text-center">Terms of Use, Privacy Policy</span>
            </div>
            <div class="col-sm">
                <span class="text-light text-right">Supported Payment Methods</span>
            </div>
        </div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modeChanger.js') }}"></script>

<script>
    document.getElementById('sort_key').addEventListener('change', function () {
        var currentUrl = window.location.href.split('?')[0];
        var selectedOrder = this.value;
        window.location.href = currentUrl + '?order_by=' + selectedOrder + '&order_direction=ASC';
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>
